.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  height: 100vh;
}

.dark-mode {
  background-color: black;
  color: white;
}
.light-mode {
  background-color: yellow;
  color: green;
}
